# Define mkcert ssl domain
DOMAIN=

# Nginx vars
NGINX_HTTP_PORT=
NGINX_HTTPS_PORT=

# Logviewer Dozzle env https://dozzle.dev/guide/
#DOZZLE_AUTH_PROVIDER=simple
DOZZLE_ENABLE_ACTIONS=true
DOZZLE_NO_ANALYTICS=true
DOZZLE_BASE=/logz
DOZZLE_HOSTNAME=${DOMAIN}
LOGZ_LABEL=${DOMAIN}
DOZZLE_FILTER="label=logz=${LOGZ_LABEL}"

# PHP
# Supported versions: 8.3, 8.4, 8.5 (see https://mahocommerce.com/about/getting-started/)
PHPVER=8.3
PHP_MAX_CHILDREN=50
PHP_MAX_REQUESTS=1000
PHP_MAX_INPUT_VARS=10000
PHP_MAX_INPUT_TIME=300
PHP_REQUEST_TIMEOUT=600
PHP_MEMORY_LIMIT=2G
PHP_DISPLAY_ERRORS=on
PHP_CLI_MEMORY_LIMIT=${PHP_MEMORY_LIMIT}

# MARIADB
MARIADB_RANDOM_ROOT_PASSWORD=1
#MARIADB_ROOT_PASSWORD=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# MAILPIT
MAIL_HOST=mailpit
MAIL_PORT=1025